.App {
  height: 100vh;
  position: absolute;
  width: 100%;
}

.Home {
  color: gray;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 25px;
}

.WeatherCard {
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 25px;
  padding-top: 10px;
}

.WeatherCardInfo {
  display: flex;
}

.WeatherCardMain {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 60%;
}

.WeatherHeader {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  margin-left: 0;
}

.WeatherHeader > p > a:visited {
  color: grey;
}

.WeatherImageWrapper {
  align-items: center;
  display: flex;
  font-size: 100px;
  justify-content: center;
  padding-top: 10px;
}

.CurrentTemperatureWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CurrentTemperatureWrapper > p {
  font-size: 60px;
  margin: 0 auto;
}

.CurrentTemperatureWrapper > h2 {
  font-weight: normal;
  margin: 0 auto;
}

.Navigation {
  display: flex;
  padding: 20px 0;
  justify-content: space-evenly;
  width: 100%;
}

.Navigation > a {
  color: gray;
  font-size: 35px;
  font-size: 3vw;
  font-weight: bold;
  margin: 20px;
  text-decoration: none;
}

.Navigation > a.Active {
  border-bottom: 2px solid gray;
}

.City {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  text-transform: lowercase;
}
