.App {
  background-color: #aec6cf;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.Home {
  color: gray;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.WeatherCard {
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 25px;
}

.WeatherHeader {
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  margin-left: 0;
  font-size: 25px;
}

.WeatherHeader > p > a:visited {
  color: white;
}

.WeatherImageWrapper {
  align-items: center;
  display: flex;
  font-size: 100px;
  justify-content: center;
  padding-top: 10px;
}

.CurrentTemperatureWrapper {
  display: flex;
  justify-content: center;
}

.Navigation {
  display: flex;
  padding: 20px 0;
  justify-content: space-evenly;
}

.Navigation > a {
  color: gray;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  text-decoration: none;
}

.Navigation > a.Active {
  border-bottom: 2px solid gray;
}

.City {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: lowercase;
}
